:root {
  /* color-scheme: light dark; */
  background-color: #EBEBEB;
  margin: 0%;
}

body {
  margin: 0;
} 

.contenedor{
  width: 70%;
  margin: auto;
}

.fondo-claims{
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background: #f9c126;
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}

.fondo-usuarios{
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background: #f9c126;
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}

.h1{
  font-size: 40px;
  text-align: center;
  margin: 40px;
}

.tabla-usuarios{
  background: #CDCDCD;
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.caja-uno{
  background: #CDCDCD;
  text-align: center;
  font-size: 25px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.caja-dos{
  background: #CDCDCD;
  text-align: center;
  font-size: 25px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.caja-tres{
  background: #CDCDCD;
  text-align: center;
  font-size: 25px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.caja-cuatro{
  background: #CDCDCD;
  text-align: center;
  font-size: 25px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.caja-cinco{
  background: #CDCDCD;
  text-align: center;
  font-size: 25px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.footer-links {
  background: rgb(34, 44, 44);
  color: white;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-container ul li {
  line-height: 2.8;
}

.footer {
  background: #e02b36;
  color: white;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
}